#main{
    border: 3px solid black;
    height: 200px;
    width: 90%;
    display: flex;
}
div{   border: 1px solid black;
    height: 200px;
    width: 35%;
}
    

h1{
    color: red;
    text-align: center;
    font-style: oblique;
    text-decoration: solid;
}